In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path = r'C:\Users\hp\OneDrive\Documents\DATA SCIENCE\PYTHON FILES\download_file\Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

**STANDARDIZATION**

- Standardization means scaling the data into one scale

- We have different columns has different units so that the value will vary

- One column has very huge values

- Another column has very less values

- So it is important to scale all type of units under one scale

- We have 2 procedures

    - Standrdization
    
        - Z-score:
        
    <img class="XqHOTb IGEbUc" alt="Z = \frac{x - \mu}{\sigma}" src="https://www.gstatic.com/education/formulas2/553212783/en/z_score.svg" role="img" data-csiid="22" data-atf="1">
    
        - the values ranges from -3 to 3

    - Normalization
    
        - Min max scalar
        
       <img src="https://media.licdn.com/dms/image/D4D12AQGP8LwyQQfojw/article-cover_image-shrink_600_2000/0/1669525006395?e=2147483647&amp;v=beta&amp;t=OerveEWmzNA6pi3FMfvT2EgAJxN4KzZvCz7fxbACD1I" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 363px; height:134px; margin: 0px; width: 363px;" alt="Min-Max Normalization" jsname="kn3ccd" aria-hidden="false">
       
       - Values ranges from 0 to 1

In [2]:
pre_wage=visa_df['prevailing_wage']
pre_mean = visa_df['prevailing_wage'].mean()
pre_std = visa_df['prevailing_wage'].std()
nr = pre_wage - pre_mean
visa_df['pre_wage_zscore'] = nr/pre_std

In [3]:
visa_df[['prevailing_wage','pre_wage_zscore']]

       prevailing_wage  pre_wage_zscore
0             592.2029        -1.398510
1           83425.6500         0.169832
2          122996.8600         0.919060
3           83434.0300         0.169991
4          149907.3900         1.428576
...                ...              ...
25475       77092.5700         0.049923
25476      279174.7900         3.876083
25477      146298.8500         1.360253
25478       86154.7700         0.221504
25479       70876.9100        -0.067762

[25480 rows x 2 columns]

In [4]:
visa_df['prevailing_wage'].max()

319210.27

In [5]:
visa_df['pre_wage_zscore'].max()

4.634101837909902

In [6]:
#In the 'prevailing_wage' column max value of id is 21077
visa_df['prevailing_wage'].idxmax()

21077

In [7]:
visa_df['pre_wage_zscore'].idxmax()

21077

In [8]:
visa_df['prevailing_wage'].min()

2.1367

In [9]:
visa_df['pre_wage_zscore'].min()

-1.4096818992891214

In [10]:
visa_df['prevailing_wage'].idxmin()

20575

In [11]:
visa_df['pre_wage_zscore'].idxmin()

20575

In [12]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,pre_wage_zscore
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [14]:
visa_df[['prevailing_wage','pre_wage_zscore']].iloc[[21077,20575]]

       prevailing_wage  pre_wage_zscore
21077      319210.2700         4.634102
20575           2.1367        -1.409682

**- Generally will overwrite the column values**<br>
**- Because we want to clean our data before we apply ML model**<br>
**- If you create any extra columns make sure drop some of non required columns**

$StandardScalar$

- Read the package
- Save the package
- Apply the fit transform

In [16]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
visa_df['prevailing_wage_ss'] = ss.fit_transform(visa_df[['prevailing_wage']])

In [20]:
cols = ['pre_wage_zscore','prevailing_wage','prevailing_wage_ss']
visa_df[cols]

       pre_wage_zscore  prevailing_wage  prevailing_wage_ss
0            -1.398510         592.2029           -1.398537
1             0.169832       83425.6500            0.169835
2             0.919060      122996.8600            0.919079
3             0.169991       83434.0300            0.169994
4             1.428576      149907.3900            1.428604
...                ...              ...                 ...
25475         0.049923       77092.5700            0.049924
25476         3.876083      279174.7900            3.876159
25477         1.360253      146298.8500            1.360280
25478         0.221504       86154.7700            0.221509
25479        -0.067762       70876.9100           -0.067763

[25480 rows x 3 columns]

**Normalization**

**min-max-scalar**

In [23]:
path = r'C:\Users\hp\OneDrive\Documents\DATA SCIENCE\PYTHON FILES\download_file\Visadataset.csv'
visa_df=pd.read_csv(path)

In [24]:
# x-x_min/(x_max-x_min)
# step-1: Read the pawge column
# step-2: Find the min value of the pwage column
# step-2: Find the max value of the pwage column
# Step-3: nr= datacolumn-min value
# Step-4: dr= max_value-min_value
# Step-5: nr/dr

In [27]:
pwage = visa_df['prevailing_wage']
pwage_min = visa_df['prevailing_wage'].min()
pwage_max = visa_df['prevailing_wage'].max()
nr = pwage - pwage_min
dr = pwage_max - pwage_min
visa_df['prevailing_wage_norm'] = nr / dr

In [28]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(0.0, 1.0)

**min_max_scalar**

In [30]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
visa_df['prevailing_wage_mms'] = mms.fit_transform(visa_df[['prevailing_wage']])